name: ColorOS Anti Circuit Breaker

on:
  workflow_dispatch:
    inputs:
     OLD_ROM_URL:
        description: 'ColorOS ROM without circuit breaker'
        required: true
     ROM_URL:
        description: 'ColorOS New ROM'
        required: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    # You might want to Checkout your repo first, but not mandatory
    - name: Check Out
      uses: actions/checkout@v3
    - name: Cleanup
      uses: rokibhasansagar/slimhub_actions@main

    - name: Prepare the environment
      run: |
        sudo apt update
        sudo apt -y upgrade
        sudo apt -y install git zip unzip python3 python-is-python3 aria2 xxd openssl openjdk-17-jre-headless python3-protobuf p7zip-full -y

    - name: Set Swap Space
      uses: pierotofy/set-swap-space@master
      with:
        swap-size-gb: 12

    - name: Downloading
      run: |
        mkdir -p old new
        echo "workspace-folder=$(pwd)" >> $GITHUB_OUTPUT
        aria2c -d old -o update.zip -j 5 -x 16 "${{ github.event.inputs.OLD_ROM_URL }}"
        aria2c -d new -o update.zip -j 5 -x 16 "${{ github.event.inputs.ROM_URL }}"

    - name: Extracting
      run: |
        unzip "old/update.zip" -d old/
        unzip "new/update.zip" -d new/
        echo "开始解压核心分区"
        bin/payload-dumper-go -o all -p abl,xbl,xbl_config,xbl_ramdump old/payload.bin >>/dev/null
        echo "开始解压payload"
        bin/payload-dumper-go -o new-IMAGES new/payload.bin >>/dev/null
        info=$(bin/gettype -i new-IMAGES/my_manifest)
        if [ "$info" == "ext" ]; then
            echo "尝试使用7z解压"
            7z x "new-IMAGES/my_manifest.img" -y -o"my_manifest/"
        elif [ "$info" == "erofs" ]; then
            echo "尝试使用erofs解压"
            bin/fsck.erofs --extract="my_manifest" "new-IMAGES/my_manifest.img"
        fi
        
    - name: Processing
      run: |
        rm -rf new-IMAGES/abl* new-IMAGES/xbl*
        mkdir all/IMAGES/
        mv new-IMAGES/* all/IMAGES
        xxd -r bin/hex1 > all/my_company.img
        xxd -r bin/hex2 > all/my_preload.img
        cp -r META-INF/ all
        cd all
        DEVICE="$(cat ../my_manifest/build.prop | grep 'ro.vendor.oplus.market.enname' | cut -d'=' -f2)"
        VERSION="$(cat ../my_manifest/build.prop | grep 'ro.build.display.id' | cut -d'=' -f2)"
        
        # 生成刷机信息
        cat > update_msg.txt << EOF
ui_print "=================================="
ui_print " " 
ui_print "ColorOS Patch Updater"
ui_print "auto by: @SakuraKyuo" 
ui_print ""
ui_print "Device: $DEVICE"
ui_print "Version: $VERSION"
ui_print " " 
ui_print ""
ui_print "=================================="
EOF

        if grep -q "UPDATEMSG_INFINAL" META-INF/com/google/android/update-binary; then
          echo "Found placeholder, replacing..."
          sed -i '/UPDATEMSG_INFINAL/ {
            r update_msg.txt
            d
          }' flash_script.sh
          echo "Replacement successful"
        else
          echo "Placeholder not found!"
          exit 1
        fi
        rm update_msg.txt
        cd ..
        
    - name: Repacking
      run: |
        cd all
        zip -0 -r "$(cat ../my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.zip" *
        cd ..
        split -b 1900M --numeric-suffixes --suffix-length=2 "all/$(cat my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.zip" $(cat my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.zip
        echo "cat $(ls $(cat my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.z* | tr '\n' ' ') > $(cat my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.zip" > Merge.sh
      id: pwd

    - name: Upload to Release
      uses: softprops/action-gh-release@v1
      with:
        files: | 
          $(cat my_manifest/build.prop | grep ro.build.display.ota | cut -d = -f 2)_Patch.z*
          Merge.sh
          all/META-INF/com/google/android/update-binary
        name: ${{ github.run_id }}
        tag_name: ${{ github.run_id }}
        body: |
          Link: ${{ github.event.inputs.ROM_URL }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
